<div class="holdContent">
  <div class="holdNav">
    <div class="sticky">
      <div class="links">
        <a href="/admin/dashboard"  class="primary navLink">Dash</a>
        <a href="/admin/dashboard/create" class="primary">Create New</a>
        <a href="/admin/dashboard/logout"  class="primary navLink">Logout</a>
      </div>
    </div>
  </div>
  <div style="margin-top: 1.2rem;">
  <div style="display: flex; justify-content: center;" class="forAdminSearch" >
      <input class="searchbar" type="text" title="Search" placeholder="Search">
      <button id="adminSearch" type="button">Submit</button>
    </div>
  </div>
  <h3 class="center primary" style="margin-top: 1rem;">Posts</h3>
  <div class="container">      
  <div class="posts">
    <!-- FOR EACH LOOP OVER INCLUDE _post -->
    <% posts.forEach(function(post){ %>
      <%- include(path, {post: post}); %>
    <% }); %>
  </div>

  </div>
