<div class="holdContent">
  <div class="holdNav">
    <div class="sticky">
      <div class="links">
        <a href="/admin/dashboard"  class="primary navLink">Dash</a>
        <a href="/admin/dashboard/create" class="primary">Create New</a>
        <a href="/admin/dashboard/logout"  class="primary navLink">Logout</a>
      </div>
    </div>
  </div>

  <div class="container">
  <div style="margin-top: 2rem; width: 100%;">
    <div style="display: flex; justify-content: center; width: 100%;">
    <div  class="forAdminSearch" style="width: 100%;" >
        <p class="center white"><label for="title">Title</label></p>
        <p style="text-align: center;">
        <input id="postTitle" class="searchbar" type="text" title="Title" placeholder="Title" name="title" style="width: 75%; text-align: center; margin: auto;">
      </p>
      </div>
      </div>
    </div>
  </div>
</div>
  </div>