<div class="formGroup">
  <label for="Title"></label>
  <input required type="text" name="title" id="title">
</div>
<div class="formGroup">
  <input type="text" class="singleTag">
  <button>+ Tag</button> <!-- adds more input. client-side
  JavaScript can round up all the tags searching "singleTag
  this way-->
</div>

<div class="formGroup">
    <label for="markdown">Markdown</label>
    <textarea  name="markdown" id="markdown">
    </textarea>
</div>
<button type="submit">Save</button>
