
.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}


.searchbar{
  width: 10rem;
  font-size:1rem;
  text-align: center;

}


.forAdminSearch {
  height: 2rem;
  font-size: 1rem;
  //border-radius: 1em;
  font-family: sans-serif;
  border-width: 0;
}

#adminSearch {
  margin-left: 5px;
  border: none;
  background-color: $primary-color;
  color: #FFF;
  border-radius: 25%;

}

.editButtons {
  height: 1rem;
  width: 2rem;
}

.editLinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.editLink button {
  margin-right: 1rem;
  padding: .3rem;
}

.edit {
  background-color: $primary-color;
  color: #fff;
  font-size: 1rem;
  text-decoration: underline;
  border: none;
  border-radius: 5px;
}

.delete {
  background-color: red;
  color: #fff;
  font-size: 1rem;
  text-decoration: underline;
  border: none;
  border-radius: 5px;
}

.singleTag {
  text-align: center;
  margin-bottom: 5px;
}

// improving like for bootstrap
.searchElem {
  border: 2px solid black;

}

.searchElem:focus {
  outline: none !important;
  border: 2px solid $primary-color;
  box-shadow: 0 0 10px $primary-color;
}


.oneTag {
  width: 5rem;
}

.tagLabel {
  color: white;
  text-decoration: underline;
  margin: 0 1rem;
}

.showMsg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 2;
}

.closeButton {
  background-color: black;
  color: white;
  position: absolute;
}

.holdMsg {
  color: black;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  align-items: center;
}

.clientTitle:hover {
  text-decoration: underline;
}