
$primary-color: #22BFB0;
$secondary-color: #46464f;
//$primary-color: darken(#c1c1c1,10%);
//$secondary-color: lighten(#107C10, 10%); 


.white {
  color: #fff;
}
.html {
  font-weight: bold;
}
.secondary {
  color: $secondary-color;
}
.primary {
  color: $primary-color;
}
// # is only for variables?