footer(style="background-color: rgba(0,0,0, .4); margin-top: 2rem;")
  .container
    .footer
      .myLinks
        p.white(style="text-decoration: underline;") My links
        a.primary(href="https://github.com/Tyler-Marsh") My github
        a.primary(href="https://www.linkedin.com/in/tyler-marsh-a99139188/") My LinkedIn
      .myLinks
        p.white(style="text-decoration: underline;") Navigation
        a.primary(href="#top") To the Top
