<!DOCTYPE html>
html(lang="en")
  head
    script(src="https://use.fontawesome.com/c6455a41ae.js")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/style.css")
    title Code Blog!
body.title(style="background-color:#46464f;")
  .holdNav
    .sticky
      .links
        a(href="/").primary.navLink Main
        a(href="/search").primary Search
  .container
    .smallMargin(style="margin-left: 1rem;")
      .flex(style="display: flex; flex-direction: row; align-items: flex-end;")
        h1.title(style="color:white;") #[span.primary TylerMarsh].me
      h3.title(style="color:#fff;") Documenting my #[span.primary journey] in coding
