<div class="featured" style="margin-top: 3.5rem;">
  <h2 class="white center">Server error!</h2>
  <p class="white center"><%= message %></p>
  <div style="text-align: center;">
  <a class="primary center" href="/">To main</a>
  </div>
  </div>