<div class="featured" style="margin-top: 3.5rem;">
<h2 class="white center">4 oh no error!</h2>
<p class="white center">Sorry we couldn't find that page.</p>
<div style="text-align: center;">
<a class="primary center" href="/">To main</a>
</div>
</div>