extends layout.pug
block content
  .featured(style="margin-top: 5rem;")
    p.white Latest...
    h1.title.primary Data Modeling in MongoDB
    p.summary(style="padding: .5rem 0;") Nested data information vs keys and separate tables?
    .meta(style="display: flex; flex-direction: row;")
      p.date(style="padding-right: 5px;") September 15, 2020
      p.tags(style="padding-right: 5px;") MongoDB

    i.primary(style="text-decoration: underline; font-size: .8rem; padding-top: 1rem;") Check it out

  p.center.white Other posts

    .posts
      .aPost
        h2.title.primary Controllers in Spring
        small September 15th, 2020
        small(style="display: block;") #[i.fas.fa-tags(aria-hidden='true')] Java, Spring
        p Learn this one secret tech companies HATE!!!!!!
        i.primary(style="text-decoration: underline; font-size: .8rem; padding-top: 1rem;") Check it out
      .aPost
        h2.title.primary Data Science EZ
        small September 15th, 2020
        small(style="display: block;") #[i.fas.fa-tags(aria-hidden='true')] Python, Data Science
        p Learn it the easy way
        i.primary(style="text-decoration: underline; font-size: .8rem; padding-top: 1rem;") Check it out
      .aPost
        h2.title.primary Sports Betting Analysis
        small September 17th, 2020
        small(style="display: block;") #[i.fas.fa-tags(aria-hidden='true')] Python, Data Science
        p Learn one thing the sports industry hates!!!
        i.primary(style="text-decoration: underline; font-size: .8rem; padding-top: 1rem;") Check it out