extends layout.pug
block content
  .featured(style="text-align: center; width: 100%; margin-top: 5rem;")
    h1.postTitle Data Modeling in MongoDB
    small.date Septemeber 17th, 2020
  article Hello World!