include includes/header
.container

  .featured(style="text-align: center; width: 100%; margin-top: 5rem;")
    h1.title.primary(style="text-align: center;") Data Modeling in MongoDB
      
include includes/footer.pug