<h1 id="searchTitle" class="primary featured" style="margin-top: 3rem;">Search</h1> 
  <div style="margin-top: 1rem;">
  <div class="searchForms">
    <div class="something" style="display:flex; flex-direction: column; align-items:center; justify-content: space-between;">
      <p class="center white" style="text-decoration: underline;"><label>Search Posts by Title</label></p>
     <form>
       <fieldset>
         <input type="text" name="search" id="search" style="position: relative; font-size: 13.333">
         <button type="submit"> Search</button> 
       </fieldset>
     </form>
        </div>
      <!-- search form old end  </div> -->

    <form id="searchTags">
      <p class="center white" style="text-decoration: underline"><label>Search Posts by Tags</label></p>
      <div class="flexTags">
        <div class="tag">
          <label for="MongoDB" class="white check">MongoDB</label>
          <input type="checkbox" name="tag1" id="tags" value="MongoDB">
        </div>
        <div class="tag">
          <label for="Java" class="white check">Java</label>
          <input type="checkbox" name="tag2" id="tags" value="Java">
        </div>
      </div>
      <div style="text-align: center;">
        <input type="submit" value="Find Posts by Tagname" class="sub">
      </div>
    </div>
    </form>