<h1 id="searchTitle" class="primary featured" style="margin-top: 3rem;">Search</h1> 
  <div style="margin-top: 1rem;">
  <div style="display: flex; justify-content: center;">
    <form method="GET">
      <input type="text" name="searchTerm" class="searchInput">
      <p style="display:flex; justify-content: center;">
      <input type="submit" value="GO" style="margin-top: 1rem; padding: 1rem; background-color: rgba(0,0,0,0); border: 2px dotted #22BFB0; color: white; font-weight: bold; font-size: 2rem;">
    </p>
    </form>
  </div>