include includes/header.pug
.container
  .smallMargin(style="margin-left: 1rem;")
      h1#searchTitle.primary.featured(style="margin-top: 5rem;") Search
      div(style="margin-top: 1rem;")
      .searchForms
        div.something(style="display: flex; flex-direction: column; align-items: center; justify-content: space-between;")
          p.center.white(style="text-decoration: underline") #[label Search Posts by Title]
          form
            fieldset
              input(type="text" name="search" id="search" style="position: relative; font-size: 13.333") 
              button Search
        form
          p.center.white(style="text-decoration: underline") #[label Search Posts by tags]
          .tags
            .tag
              label(for="MongoDB").white.check MongoDB
              input(type="checkbox" name="tag1" id="tags" value="MongoDB")
            .tag
              label(for="Java").white.check Java
              input(type="checkbox" name="tag2" id="tags" value="Java")
          input(type="submit" value="Find posts by Tagname").sub